/*
* Styling based on the Skeleton documention (http://www.getskeleton.com/)
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

// Theme Variables

$main-font: "DejaVu Sans", sans-serif;
$code-font: "Consolas", monospace;

$accent-colour: #FF8000;

$social-icons: (
	"twitter": #171515,
	"google-plus-square": #dd4b39,
	"github":  #171515,
	"soundcloud":  #f70,
);


/*
:root {
	--scrollbar-width: 0px;
}
*/

// Reset & Basics (Inspired by Eric Meyer)

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {
	quotes: none;
	&:before, &:after { content: ''; content: none; } }
table { border-collapse: collapse; border-spacing: 0; }


// Typography

body {
	background: #fff;
    font: 16px/24px $main-font;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
}

article p {
	font-size: 1.1em;
	line-height: 1.7;
	margin: 1em 0;
}

h1, h2, h3 { font-weight: bold; }

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.2em;
	margin-top: 30px;
}

h3 { font-size: 1.2em; }

em { font-style: italic; }
strong { font-weight: bold; }

blockquote {
	margin: 20px 0 20px 3px;
	padding: 1px 15px;
	border-left: 2px solid #ddd;

	p {
		color: #777;
		font-style: normal;
		margin: 3px 0;
	}

	cite {
		display: block;
		padding-top: 5px;
		font-size: 0.85em;
		color: #555;
		&:before { content: "\2014 \0020"; }
	}
}

hr {
	clear: both;
	border: none;
	height: 1px;
	background-color: #ebebeb;
	margin: 10px 5px;
}

.bold {
	font-weight: bold;
}

a {
	color: #333;
//	font-weight: bold;
	outline: 0;

	&:hover, &:focus {
		color: #000;
		text-decoration: underline;
	}

	&.icon {
		text-decoration: none;
		padding: 0 2px;
		font-size: 20px;
		color: #555;
		transition: color 0.25s ease;

		&:hover {
			text-decoration: none;
			color: #222;
			@each $icon, $colour in $social-icons {
				&.fa-#{$icon} { color: $colour; }
			}
		}
	}
}

ul, ol {
	margin: 1.25em 2.25em;

	ul, ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

ul { list-style: square outside; }
ol { list-style: decimal; }

table:not(.codehilitetable) {
	margin: 0 auto 2em;

	th, td {
		padding: 12px;
		border-bottom: 1px solid #e1e1e1;
	}

	thead th {
		padding-top: 0;
	}
}

abbr, acronym, .abbr {
	cursor: help;
	border-bottom: 1px dashed #444;
}

.footnote-ref {
	padding-left: 1px;
	font-size: .7em;
	line-height: 0.5em;
	vertical-align: baseline;
	position: relative;
	top: -0.7em;
}


textarea, code, pre, tt {

	font-family: $code-font, monospace!important;
	color: #000;
	background: #eee;

}

tt {
	font-size: 0.9em;
}

pre {

	padding: 10px 20px;
	margin: 15px auto;
	line-height: 1.5;
	border-style:solid;
	border-width:1px;
	border-color:#bbb;
    overflow-x: auto;

}

code, tt {

	padding: 1px 4px 1px 0px;

}

code:not(pre code) {
	padding: 1px 4px 1px 4px;
	border-style:solid;
	border-width:1px;
	border-color:#bbb;
	font-size: 0.90em
}


.codehilitetable {
	font: 0.85em/1.5 $code-font;
	overflow-x: auto;
	display: block;
	border-left: 3px solid $accent-colour;
	border-radius: 2px;
	padding: 0.8em 0;

	tbody tr { display: block; } // fixes line numbers on Firefox
}

.linenos {
	border-right: 1px solid #3d3d3d;
	padding: 0 0.7em;
	width: 1.2em;
	text-align: right;
	position: absolute;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
-ms-user-select: none;
	user-select: none;
}

.codehilite {
	margin: 0 1em 0 3.5em;
}

.admonition {
	background: #fafafa;
	margin: 20px 0;
	padding: 10px 25px;
	border: solid #ccc;
	border-width: 1px 0;
}

.admonition-title {
	@extend h2;
	margin: 12px 0;
}

div.math {
	overflow-x: auto;
}


// Layout

$desktop: "only screen and (min-width: 960px)";
$handheld: "only screen and (max-width: 959px)";
$mobile: "only screen and (max-width: 767px)";

html, body {
	height: 100%;
}

.container {
	position: relative;
//	width: calc(900px - var(--scrollbar-width));
	width: 900px; 
	margin: 0 auto;
	padding-top: 50px;
}

article img {
	max-width: 95%;
	margin: 0 auto;
	display: block;
}

footer p {
	margin: 12px 0;
	font-size: 0.9em;
	padding-bottom: 10px;
	text-align: center;
}

aside div {
	margin: 12px 0;
	text-align: center;
}

#avatar {
	margin: 0 auto;
	display: block;
	width: 140px;
	border-radius: 100%;
}

#avatar-mob {
	margin: 10% auto;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

#name {
	font-size: 1.8em;
	font-weight: bold;
	font-family: Consolas;
	line-height: 1.35;
	letter-spacing: -0.5px;
}

#bio {
	font-size: 0.95em;
	line-height: 1.5;
}

#sidebar-links {
	color: #aaa;
	width: 165px;
}

#sidebar-divider {
	display: none;  // only appears on mobile
}

.title, .page-title {
	float: left;

	a {
		text-decoration: none;
	}
}

.date {
	float: right;
	display: block;
}

.content {
	clear: both;
	overflow: hidden;

	hr { margin: 25px 10px; }
}

.summary p {
	margin-bottom: 6px;
}

.no-dec {
	text-decoration: none;
}

.no-dec-h:hover {
	text-decoration: none;
}

#view-archives {
	overflow: auto;
	text-align: right;
}

#back-to-home, #related-articles {
	margin-top: 20px;
}

#next-neighbour { float: left; }
#prev-neighbour { float: right; }

/* left side menu specific styles */
body {
  left: 0;
}

.zeynep-opened body {
  overflow: hidden;
}

.zeynep {
  right: auto;
  left: 0;
}


.btn-open {
  border: 0;
  //border-radius: 27.5px;
  //box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .05);
  font-size: 1.8em;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
  float: left;
}

/*
.btn-open:active {
  box-shadow: inset 0 3px 5px 0px rgba(0, 0, 0, .1);
}

.btn-open.first {
  background-color: #fd698d;
  color: #ffffff;
}
.btn-open.second {
  background-color: #ffffff;
  color: #fd698d;
}
*/

/* zeynepjs menu styles */
.zeynep {
  background-color: white;
  color: #404143;
  width: 204px;
}

.zeynep ul {
  list-style-type: none;
  padding: 10% 0;
  -webkit-overflow-scrolling: touch;
}
.zeynep ul > li {
  display: block;
}

.zeynep ul > li > a {
  color: inherit;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 20px;
  text-decoration: none;
  transition: all 150ms;
}
.zeynep ul > li > a:hover {
  background-color: #efefef;
  border-radius: 3px;
}

.zeynep ul > li > a.social-i {
	display: inline-block;
	padding: 10%;
}

.zeynep ul > li:not(:last-child) > a {
  border-bottom: 1px solid #efefef;
}

.zeynep ul > li.has-submenu > a {
  background-image: url("../images/submenu-arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
}

.zeynep ul > li.has-submenu > a:hover {
  background-image: url("../images/submenu-arrow-active.svg");
}

/* zeynepjs submenu styles */
.zeynep .submenu {
  background-color: #ffffff;
  left: 295px;
}

.zeynep .submenu-header {
  background-image: url("../images/menu-back.svg");
  background-position: left 20px center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
  border-bottom: solid 1px #efefef;
  cursor: pointer;
  position: relative;
}

.zeynep .submenu-header > a {
  color: inherit;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 20px;
  padding-left: 40px;
  text-decoration: none;
}

.zeynep .submenu-header > a:before {
  background-image: url("../images/submenu-arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
  content: "";
  height: 100%;
  left: 26px;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 20px;
}

.zeynep .submenu > label {
  color: #e77691;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 19px;
  opacity: .5;
  padding-left: 40px;
  width: 100%;
}

// Media Queries

@media #{$desktop} {
	//article, footer { margin: 0px calc(-1 * var(--scrollbar-width)) 0px 0px; }

	.state-indicator {
		position: absolute;
		top: -999em;
		left: -999em;
	}

	.state-indicator:before {
		z-index: 1;
	}

	i.btn-open { display: none; }
	#bio-mob { display: none;}

	article, footer { margin: 0px 0px 0px 0px; }

	aside {
		float: left;
		width: 160px;
		position: fixed;
	}

	article, footer {
		float: right;
		width: 640px;
	}

}

@media #{$handheld} {
	// On non-desktop displays, fix the width of the
	// sidebar, and centre it at the top of the page.
	.container {
		padding-top: 3px;
		width: 90%;
	}

	.state-indicator:before{
		z-index: 2;
	}

	aside {
//		max-width: 285px;
		margin: 20px 0px 20px 0px;
		vertical-align: middle;

		div { margin: 0 0; }
		#bar-title { margin-bottom: 10px; }
		#name { line-height: revert; }
	}

	#avatar { display: none; }
	#social { display: none; }
	#sidebar-links { display: none; }
	#sidebar-divider { display: block; }
	#bio { display: none;}
	// #social .icon { padding: 0 1px; }

	article { margin-top: 14px; }
}

@media #{$mobile} {
	.title, .date {
//		text-align: center;
//		float: none;
		line-height: 1.25;
	}

	.state-indicator:before{
		z-index: 3;
	}

	#avatar { display: none; }
	#social { display: none; }
	#sidebar-links { display: none; }
	#sidebar-divider { display: block; }
	#bio { display: none;}
}

@media only print {
	footer, aside, #disqus_thread, #related-articles, #back-to-home {
		display: none !important;
	}

	.container { width: 85%; }
	p a:after { content:" ["attr(href)"]"; }
	.linenos { border-right: none; }
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}