<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Metas -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="{{ SITE_AUTHOR }}">
	<link rel="author" href="{{ GOOGLE_PLUS_URL }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	{% block meta %}{% endblock %}

	<!-- Stylesheets and Web Fonts -->
	{% assets filters="scss, cssmin", output="style.min.css", "normalize.css", "pneumatic.scss", "pygments.css", "zeynep.min.css" %}
	<link href="/{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
	{% if GOOGLE_FONTS %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family={{ GOOGLE_FONTS | join('|') | replace(' ', '+') }}" rel="stylesheet" type="text/css">
	{% endif %}
	{% if SOCIAL_ICONS %}
	{% if FA_EMBED_CODE %}
	<script src="https://kit.fontawesome.com/{{ FA_EMBED_CODE }}.js" crossorigin="anonymous"></script>
	{% else %}
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	{% endif %}
	{% endif %}

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="/{{ ICONS_PATH }}/apple-touch-icon.png">
	{% for size in (57, 60, 72, 76, 114, 120, 144, 152, 180) %}
	<link rel="apple-touch-icon" sizes="{{ size }}x{{ size }}" href="/{{ ICONS_PATH }}/apple-touch-icon-{{ size }}x{{ size }}.png">
	{% endfor %}

	{% for size in (16, 32) %}
	<link rel="icon" type="image/png" href="/{{ ICONS_PATH }}/favicon-{{ size }}x{{ size }}.png" sizes="{{ size }}x{{ size }}">
	{% endfor %}

	<meta name="theme-color" content="{{ THEME_COLOR }}">

	<meta name="msapplication-TileColor" content="{{ THEME_COLOR }}">
	<meta name="msapplication-TileImage" content="/{{ ICONS_PATH }}/mstile-144x144.png">
	{% for name, size in (('square70x70', 'small'), ('square150x150', 'medium'), ('wide310x150', 'wide'), ('square310x310', 'large')) %}
	<meta name="msapplication-{{ name }}logo" content="/{{ ICONS_PATH }}/mstile-{{ size }}.png">
	{% endfor %}

	<!--[if lt IE 9]>
	<script src="/theme/js/html5shiv.min.js"></script>
	<script src="/theme/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="container">
		<div class="state-indicator"></div>
		<aside>
			<div id="bar-title">
				<i class="fas fa-bars btn-open"></i>
				<a href="/"><img id="avatar" alt="Site Avatar" src="/{{ ICONS_PATH }}/avatar.jpg"></a>
				<div id="name"><a class="no-dec no-dec-h bold" href="/">{{ SITENAME }}</a></div>
			</div>
			<div id="bio">{{ BIO_TEXT }}</div>
			<div id="bio-mob">{{ BIO_TEXT_MOB }}</div>

			<div class="zeynep">
				<ul>
					<a href="/"><img id="avatar-mob" alt="Site Avatar" src="/{{ ICONS_PATH }}/avatar.jpg"></a>

					{% if SIDEBAR_LINKS %}
						{% for slug, name in SIDEBAR_LINKS %}
						<li>
							<a class="no-dec no-dec-h bold" href="/{{ slug }}">{{ name }}</a>
						</li>
						{% endfor %}
					{% endif %}

					{% if SOCIAL_ICONS %}
					<li>
					{% for link, title, icon in SOCIAL_ICONS %}					
						<a class="social-i" target="_blank" href="{{ link }}"><i class="icon fa {{ icon }}"></i></a>
					{% endfor %}
					</li>
					{% endif %}
				</ul>
			</div>

			{% if SIDEBAR_LINKS %}
			<div id="sidebar-links">
				{% for slug, name in SIDEBAR_LINKS %}
					<a class="no-dec no-dec-h bold" href="/{{ slug }}">{{ name }}</a>
					{% if not loop.last %} | {% endif %}
				{% endfor %}
			</div>
			{% endif %}

			{% if SOCIAL_ICONS %}
			<div id="social">
				{% for link, title, icon in SOCIAL_ICONS %}
				<a href="{{ link }}" target="_blank" title="{{ title }}" class="icon fa {{ icon }}"></a>
				{% endfor %}
			</div>
			{% endif %}

			<hr id="sidebar-divider">
		</aside>

		<article>
			{% block content %}{% endblock %}
			<hr>
		</article>

		<footer>
			<p>{{ FOOTER_TEXT }}</p>
		</footer>
	</div>

	{% if GOOGLE_ANALYTICS %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ GOOGLE_ANALYTICS }}');
	</script>
	{% endif %}
	
	{% if GAUGES_ID %}
	<!-- Gauges -->
	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '{{ GAUGES_ID }}');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>

	{% endif %}

	<script>
		function adjustScrollBar() {
			var state = window.getComputedStyle(
				document.querySelector(".state-indicator"), ":before"
			).getPropertyValue("z-index");

			if (state == "1" || state == "2") {
				var scrollbar_width = window.innerWidth - document.documentElement.clientWidth;
				container = document.getElementsByClassName("container")[0]
				original_width = window.getComputedStyle(container).getPropertyValue("width");

				if (scrollbar_width != "0") {
					container.style.width = parseInt(original_width, 10) - scrollbar_width + "px";
				}

				var specialMargin = document.querySelectorAll("article, footer");
				specialMargin.forEach(function(element) {
					element.style.setProperty("margin", "0px " + -scrollbar_width + "px 0px 0px");
				});
			}
//			document.documentElement.sty.setProperty('--scrollbar-width', (window.innerWidth - document.documentElement.clientWidth) + "px");
		};

		window.onload = adjustScrollBar;
		window.onchange = adjustScrollBar;
	</script>

	   <div class="zeynep-overlay"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/theme/js/zeynep.min.js"></script>

    <script>
      $(function() {
        // init zeynepjs side menu
        var zeynep = $('.zeynep').zeynep({
          opened: function () {
            // log
            console.log('the side menu opened')
          },
          closed: function () {
            // log
            console.log('the side menu closed')
          }
        })

        // dynamically bind 'closing' event
        zeynep.on('closing', function () {
          // log
          console.log('this event is dynamically binded')
        })

        // handle zeynepjs overlay click
        $('.zeynep-overlay').on('click', function () {
          zeynep.close()
        })

        // open zeynepjs side menu
        $('.btn-open').on('click', function () {
          zeynep.open()
        })
      })
    </script>
</body>
</html>
